<section class="about">

  <div class="about-card">

    <div class="left">
      <img src="assets/profile.png" alt="">
    </div>

    <div class="right">

      <span class="tag">About Me</span>

      <h2>Angular Developer</h2>

      <p>
        Passionate Angular Developer with 3+ years
        of experience building scalable enterprise
        applications.
      </p>

      <div class="stats">

        <div class="box">
          <h3>3+</h3>
          <p>Years Exp</p>
        </div>

        <div class="box">
          <h3>20+</h3>
          <p>Projects</p>
        </div>

        <div class="box">
          <h3>100%</h3>
          <p>Client Focus</p>
        </div>

      </div>

    </div>

  </div>

</section>