<div class="hero">
  <div class="content">

    <h1>Ganesh Bhalke</h1>

    <h2>Angular Developer</h2>

    <p>
      Building scalable enterprise applications using
      Angular, TypeScript, RxJS and NgRx.
    </p>

    <div class="hero-btns">
      <a href="#contact" class="btn-primary">
        Contact Me
      </a>

     <a
  href="assets/Ganesh1 Bhalke2 resume23.pdf"
  target="_blank"
  class="btn-outline">

  View Resume

</a>
    </div>

  </div>

  <img src="assets/Ganesh.jpeg" alt="Ganesh Bhalke">

</div>