<section class="skills">

  <h2>Tech Stack</h2>

  <div class="skills-wrapper">

    <button class="skill-btn">Angular</button>
    <button class="skill-btn">TypeScript</button>
    <button class="skill-btn">RxJS</button>
    <button class="skill-btn">NgRx</button>

    <button class="skill-btn">JavaScript</button>
    <button class="skill-btn">Bootstrap</button>
    <button class="skill-btn">SCSS</button>
    <button class="skill-btn">HTML5</button>

    <button class="skill-btn">Git</button>
    <button class="skill-btn">Firebase</button>
    <button class="skill-btn">REST API</button>
    <button class="skill-btn">Angular Material</button>

  </div>

</section>