.experience{
  min-height:100vh;
  background:#020617;
  color:white;
  padding:120px 10%;
}

.section-title{
  text-align:center;
  font-size:3rem;
  margin-bottom:70px;
  color:#38bdf8;
}

.timeline{
  position:relative;
  max-width:1000px;
  margin:auto;
}

.timeline::before{
  content:'';
  position:absolute;
  left:20px;
  top:0;
  width:4px;
  height:100%;
  background:#38bdf8;
}

.timeline-item{
  position:relative;
  padding-left:70px;
  margin-bottom:50px;
}

.timeline-dot{
  position:absolute;
  left:8px;
  top:15px;
  width:25px;
  height:25px;
  border-radius:50%;
  background:#38bdf8;
}

.timeline-content{
  background:#1e293b;
  padding:30px;
  border-radius:20px;
  transition:.3s;
}

.timeline-content:hover{
  transform:translateY(-8px);
}

.date{
  color:#38bdf8;
  font-weight:600;
}

.timeline-content h3{
  margin-top:15px;
  font-size:28px;
}

.timeline-content h4{
  color:#cbd5e1;
  margin:10px 0 20px;
}

.timeline-content ul{
  padding-left:20px;
}

.timeline-content li{
  margin-bottom:12px;
  color:#e2e8f0;
}